save-exact=true
@securecore-new-application:registry=https://gitlab.gluzdov.com/api/v4/projects/901/packages/npm/
https://gitlab.gluzdov.com/api/v4/projects/901/packages/npm/:_authToken=glpat-aW1sCqM6rY76aXyA3ryi
